footer {
    background-color: #102E4A;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    font-family: 'Source Code Pro', monospace;
  }

  footer a{
    color: #ECC30B;
    text-decoration: none;
  }

  @media (max-width: 374px) {
    footer p{
      font-size: .7rem;
    }
  }






